<div class="row ">
<div class="col-md-6 container">
    <h2>New Developer:</h2>
<div class="panel panel-primary">
    <%= simple_form_for @developer do |f| %>
      <%= f.input :name, label: 'Your Name:', required: true %>
      <%= f.input :position, hint: 'Front-end or Back-end Developer', collection: ["Front-end Developer", "Back-end Developer"], required: true %>
      <%= f.input :description, hint: 'Short Description', required: true %>
      <%= f.input :level, hint: 'From 1 to 5', collection: [1, 2, 3, 4, 5]  %>
      <%= f.input :age, collection: 18..60, placeholder: 'Select your age', required: true%>
      <%= f.input :startday, label: 'Start year:'%>
      <%= f.input :salary, label: 'Your salary:'%>
      <%= f.button :submit %>
    <% end %>
</div>
</div>
</div>
