<div class="container">
  <div class="image">
    <%= image_tag(@developer.image) if @developer.image%>
  </div>
</div>

<h2><strong> <%= @developer.name%></strong>, <%= @developer.position%> </h2>
<p><%= @developer.description%> </p>
<p>Level: <%=  @developer.level %></p>



<%= link_to "Back", developers_path %> ||
<%= link_to "Delete", developer_path(@developer), method: :delete, data: {confirm: "Are you sure?"} %>
